.stickyFooter{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #191d28;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    align-items: center;
}
.stickyFooter button{
    border: 1px solid #14A2B8;
    background-color: transparent;
    border-radius: 7px;
    padding: 7px;
    color: #14A2B8;
}